In [1]:
#Write a Python program to print "Hello Python"
def string(text):
  print(text)
string('Hello Python')

Hello Python

In [7]:
# Write a Python program to do arithmetical operations addition and division.
def addition(*args):
  return sum(args)
def division(a,b):
  return a/b
print(addition(2,3,4,5))
print(division(1,2))

14
0.5

In [9]:
#Write a Python program to find the area of a triangle
def area_triangle(a,b,c):
  '''
    takes three parameters
      int/float: a,b,c
  '''
  s=a+b+c/2
  area = (s*(s-a)*(s-b)*(s-c))**0.5
  return area

area_triangle(5.1,6,7)

95.21256219638246

In [10]:
#Write a Python program to swap two variables
def swap_var(x,y):
  '''
    swap two variables
  '''
  x,y = y,x
  return(x,y)

swap_var(3,5)

(5, 3)

In [16]:
#Write a Python program to generate a random number
import random
def random_no(a,b):
  '''
    generates random no between two nos
      int: a,b
  '''
  return random.randint(a,b)

random_no(2,15)

11