<a href="https://colab.research.google.com/github/piyu18/ineuron-assignment/blob/main/Programming_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#Write a Python program to convert kilometers to miles
def km_miles(a):
  try:
    conversion_factor = 0.62137119
    return('%0.2f km is equal to %0.2f miles' %(a,a*conversion_factor))
  except Exception as e:
    print(e)

In [25]:
km_miles(2)

'2.00 km is equal to 1.24 miles'

In [30]:
#Write a Python program to convert Celsius to Fahrenheit
def cel_fahrenheit(C):
  try:
    conversion_factor = (C*9/5)+32
    return('%0.2f째C is equal to %0.2f째F' %(C,conversion_factor))
  except Exception as e:
    print(e)
cel_fahrenheit(26)

'26.00째C is equal to 78.80째F'

In [32]:
#Write a Python program to display calendar
import calendar
yy = 2022
mm = 8
 
# display the calendar
print(calendar.month(yy, mm))
#print(calendar.calendar(yy))

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [33]:
#Write a Python program to solve quadratic equation?
import cmath
def quad_equ(a,b,c):
  try:
    # calculate the discriminant
    d = (b**2) - (4*a*c)
    X1 = (-b+cmath.sqrt(d))/(2*a)
    X2 = (-b-cmath.sqrt(d))/(2*a)
    return('The solution are {0} and {1}'.format(X1,X2))
  except Exception as e:
    print(e)

quad_equ(2,3,5)

'The solution are (-0.75+1.3919410907075054j) and (-0.75-1.3919410907075054j)'

In [39]:
#Write a Python program to swap two variables without temp variable
def swap_var(X,Y):
  X,Y = Y,X
  return ('The value of X is {0} and Y is {1}'.format(X,Y))
swap_var(3,4)

'The value of X is 4 and Y is 3'